ul[navbar] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #586a71;
}

li[nav] {
  float: left;
}

li[nav] > li {
  display: inline !important;
}

li[nav] a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li[nav] a:hover,
.dropdown:hover .dropbtn {
  background-color: #8baa88;
}

li[nav].dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #586a71;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a.dropdownLink {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a.dropdownLink:hover {
  background-color: #8baa88;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#navMainTxt {
  color: #b5ddb2;
}

#navMainTxt:hover {
  color: white;
}

#active > a,
.active > a {
  text-decoration: underline;
}

#active:hover > a,
.active:hover > a {
  text-decoration: underline;
}

nav a {
    text-decoration: none;
}