#pdf-frame {
  height: calc(100vh - 52px);
  width: calc((100vh - 52px) / 1.4142);
  border: 1rem solid rgba(0, 0, 0, 0.1);
  margin-left: calc(50% - ((100vh - 52px) / 1.4142) / 2);
}

@media screen and (orientation: portrait) {
  #pdf-frame {
    width: calc(100% + 2rem);
    margin-left: calc(0px - 1rem);
    border: 0;
  }
}

a.pdf-goto-page {
    cursor: pointer;
}

span.pdf-page-num {
    color: lightslategray;
    font-style: italic;
}

#pdf-table-of-contents {
    max-height: 60vh;
    overflow-y: scroll;
}