<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <meta charset="UTF-8">
    {{ if or .Params.tikz .Site.Params.tikz }}
    {{ partial "tikzjax.html" . }}
    {{ end }}

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
        type="text/css" crossorigin>
    <link rel="shortcut icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/navbar.css" as="style" type="text/css">
    <link rel="stylesheet" href="/assets/css/styles.css" as="style" type="text/css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    <!-- MathJax -->
    <link rel="stylesheet" href="/assets/css/mathjax.css" as="style" type="text/css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!-- MathJax Config -->
    <script>
        MathJax = {
            chtml: {
                displayAlign: 'left',
            }
        };
    </script>
</head>

<body>
    <ul navbar>
        <li nav id="navMain">
            <a id="navMainTxt" class="dropdownLink" href="{{site.url}}">簡的後花園</a>
        </li>
        {% assign links = site.data.navigation %}
        {% for link in links %} {% assign class = nil %} {% if page.url contains link.url %}
        {% assign class = 'active' %} {% assign id = 'active' %} {% else %} {% assign class = 'inactive' %}
        {% endif %}{% if link.sublinks %} <li nav class="dropdown {{ class }}" {% if class == 'active' %} id="active"
            {% endif %}>
            <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropbtn" role="button" aria-haspopup="true"
                aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
            <div class="dropdown-content">
                {% for sublink in link.sublinks %}
                {% if sublink.title == 'separator' %}
        <li nav role="separator" class="divider"></li>
        {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
        </div>
        </li>
        {% endif %}
        {% endfor %}
        {% else %}
        <li nav class="{{ class }}" {% if class == 'active' %} id="active" {% endif %}>
            <a class="dropdownLink" href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <div navpadding></div>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">
            {{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
            <img class="footer-banner" src="/assets/i/banner.png" />
            <div class="footer-text">
                <h2>簡的後花園網站</h2>
                <span class="site-footer-owner"><a
                        href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by
                    <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
                <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub
                        Pages</a> and was created for learning purposes. <br />For copyright issues please contact
                    <a href="mailto:amf.kano@gmail.com">amf.kano@gmail.com</a></span>
            </div>
        </footer>
    </main>
</body>

</html>